{% extends "base.html" %}
{% block content %}

<form method="POST">

    <div>
        <label for="titulo-obra" class="form-label">Titulo da obrea</label>
        <input type="text" class="from-control" name="titulo-obra" id="titulo-obra"
            aria-describedby="ajudaNomeObra"
            value="{{ obra_selecionada.titulo_obra if obra_selecionada else ''}}" required>
        <div id="ajudaNomeObra" class="form-text">Coloque o nome de uma obra.</div>
    </div>

    <div>
        <label for="indicacao" class="form-label">Indicação</label>
        <input type="text" class="from-control"
        name="indicacao" id="indicacao"
            aria-describedby="=ajudaIndicacao"
            value="{{ indicacao_selecionada.indicacao if indicacao_selecionada else ''}}" required>
        <div id="ajudaIndicacao" class="form-text">Coloque quem te indicou ou aonde encontrou essa obra</div>
    </div>

    <button type="submit" class="btn btn-primary">salvar</button>



</form>